<div class="group">
  <%= f.label :date %><%= f.error_message_on :date %>
  <%= f.text_field :date, :class => :text_field %>
  <span class="description">Select the date for the schedule.</span>
</div>

<br/><br/>

<div class="group">
  <label for="daily_schedule_m1t">Meeting 1 Title:</label><%= f.error_message_on :m1t %>
  <%= f.text_field :m1t, :class => :text_field %>
  <span class="description">Meeting Group Name</span><br/><br/>
  <label for="daily_schedule_m1d1">Meeting 1 Description:</label><%= f.error_message_on :m1d1 %>
  <%= f.text_field :m1d1, :class => :text_field %>
  <span class="description">Meeting Description</span><br/><br/>
  <label for="daily_schedule_m1d2">Meeting 1 Description 2:</label><%= f.error_message_on :m1d2 %>
  <%= f.text_field :m1d2, :class => :text_field %>
  <span class="description">Meeting Time and Room - remember to include a separator like "|" for example "11:00-1pm | 3rd Floor Conference Room"</span>
</div>

<br/><br/>

<div class="group">
  <label for="daily_schedule_m2t">Meeting 2 Title:</label><%= f.error_message_on :m2t %>
  <%= f.text_field :m2t, :class => :text_field %></br><br/>
  <label for="daily_schedule_m2d1">Meeting 2 Description 1:</label><%= f.error_message_on :m2d1 %>
  <%= f.text_field :m2d1, :class => :text_field %></br><br/>
  <label for="daily_schedule_m2d2">Meeting 2 Description 2:</label><%= f.error_message_on :m2d2 %>
  <%= f.text_field :m2d2, :class => :text_field %>
</div>

<br/><br/>

<div class="group">
  <label for="daily_schedule_m3t">Meeting 3 title:</label><%= f.error_message_on :m3t %>
  <%= f.text_field :m3t, :class => :text_field %><br/><br/>
  <label for="daily_schedule_m3d1">Meeting 3 Description 1:</label><%= f.error_message_on :m3d1 %>
  <%= f.text_field :m3d1, :class => :text_field %><br/><br/>
  <label for="daily_schedule_m3d2">Meeting 3 Description 2:</label><%= f.error_message_on :m3d2 %>
  <%= f.text_field :m3d2, :class => :text_field %>
</div>

<br/><br/>

<div class="group">
  <label for="daily_schedule_m4t">Meeting 4 Title:</label><%= f.error_message_on :m4t %>
  <%= f.text_field :m4t, :class => :text_field %><br/><br/>
  <label for="daily_schedule_m4d1">Meeting 4 Description 1:</label><%= f.error_message_on :m4d1 %>
  <%= f.text_field :m4d1, :class => :text_field %><br/><br/>
  <label for="daily_schedule_m4d2">Meeting 4 Description 2:</label><%= f.error_message_on :m4d2 %>
  <%= f.text_field :m4d2, :class => :text_field %>
</div>

<br/><br/>

<div class="group">
  <label for="daily_schedule_m5t">Meeting 5 Title:</label><%= f.error_message_on :m5t %>
  <%= f.text_field :m5t, :class => :text_field %><br/><br/>
  <label for="daily_schedule_m5d1">Meeting 5 Description 1:</label><%= f.error_message_on :m5d1 %>
  <%= f.text_field :m5d1, :class => :text_field %><br/><br/>
  <label for="daily_schedule_52d2">Meeting 5 Description 2:</label><%= f.error_message_on :m5d2 %>
  <%= f.text_field :m5d2, :class => :text_field %>
</div>
<!--
<div class="group">
  <%= f.label :m6t %><%= f.error_message_on :m6t %>
  <%= f.text_field :m6t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
  <%= f.label :m6d1 %><%= f.error_message_on :m6d1 %>
  <%= f.text_field :m6d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
  <%= f.label :m6d2 %><%= f.error_message_on :m6d2 %>
  <%= f.text_field :m6d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
-->
<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:daily_schedules, :index)}';return false", :class => :button %>
</div>
