<div class="group">
  <%= f.label :date %><%= f.error_message_on :date %>
  <%= f.text_field :date, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m1t %><%= f.error_message_on :m1t %>
  <%= f.text_field :m1t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m1d1 %><%= f.error_message_on :m1d1 %>
  <%= f.text_field :m1d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m1d2 %><%= f.error_message_on :m1d2 %>
  <%= f.text_field :m1d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m2t %><%= f.error_message_on :m2t %>
  <%= f.text_field :m2t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m2d1 %><%= f.error_message_on :m2d1 %>
  <%= f.text_field :m2d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m2d2 %><%= f.error_message_on :m2d2 %>
  <%= f.text_field :m2d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m3t %><%= f.error_message_on :m3t %>
  <%= f.text_field :m3t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m3d1 %><%= f.error_message_on :m3d1 %>
  <%= f.text_field :m3d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m3d2 %><%= f.error_message_on :m3d2 %>
  <%= f.text_field :m3d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m4t %><%= f.error_message_on :m4t %>
  <%= f.text_field :m4t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m4d1 %><%= f.error_message_on :m4d1 %>
  <%= f.text_field :m4d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m4d2 %><%= f.error_message_on :m4d2 %>
  <%= f.text_field :m4d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m5t %><%= f.error_message_on :m5t %>
  <%= f.text_field :m5t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m5d1 %><%= f.error_message_on :m5d1 %>
  <%= f.text_field :m5d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m5d2 %><%= f.error_message_on :m5d2 %>
  <%= f.text_field :m5d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m6t %><%= f.error_message_on :m6t %>
  <%= f.text_field :m6t, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m6d1 %><%= f.error_message_on :m6d1 %>
  <%= f.text_field :m6d1, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :m6d2 %><%= f.error_message_on :m6d2 %>
  <%= f.text_field :m6d2, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:daily_schedules, :index)}';return false", :class => :button %>
</div>
