<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:daily_schedules, :index) %></li>
      <li><%= link_to pat(:new), url(:daily_schedules, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:daily_schedules) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:daily_schedule, :date) %></th>
          <th><%= mat(:daily_schedule, :m1t) %></th>
          <th><%= mat(:daily_schedule, :m1d1) %></th>
          <th><%= mat(:daily_schedule, :m1d2) %></th>
          <th><%= mat(:daily_schedule, :m2t) %></th>
          <th><%= mat(:daily_schedule, :m2d1) %></th>
          <th><%= mat(:daily_schedule, :m2d2) %></th>
          <th><%= mat(:daily_schedule, :m3t) %></th>
          <th><%= mat(:daily_schedule, :m3d1) %></th>
          <th><%= mat(:daily_schedule, :m3d2) %></th>
          <th><%= mat(:daily_schedule, :m4t) %></th>
          <th><%= mat(:daily_schedule, :m4d1) %></th>
          <th><%= mat(:daily_schedule, :m4d2) %></th>
          <th><%= mat(:daily_schedule, :m5t) %></th>
          <th><%= mat(:daily_schedule, :m5d1) %></th>
          <th><%= mat(:daily_schedule, :m5d2) %></th>
          <th><%= mat(:daily_schedule, :m6t) %></th>
          <th><%= mat(:daily_schedule, :m6d1) %></th>
          <th><%= mat(:daily_schedule, :m6d2) %></th>
          <th><%= mat(:daily_schedule, :created_at) %></th>
          <th><%= mat(:daily_schedule, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @daily_schedules.each do |daily_schedule| %>
        <tr>
          <td class="first"><%= daily_schedule.date %></td>
          <td><%= daily_schedule.m1t %></td>
          <td><%= daily_schedule.m1d1 %></td>
          <td><%= daily_schedule.m1d2 %></td>
          <td><%= daily_schedule.m2t %></td>
          <td><%= daily_schedule.m2d1 %></td>
          <td><%= daily_schedule.m2d2 %></td>
          <td><%= daily_schedule.m3t %></td>
          <td><%= daily_schedule.m3d1 %></td>
          <td><%= daily_schedule.m3d2 %></td>
          <td><%= daily_schedule.m4t %></td>
          <td><%= daily_schedule.m4d1 %></td>
          <td><%= daily_schedule.m4d2 %></td>
          <td><%= daily_schedule.m5t %></td>
          <td><%= daily_schedule.m5d1 %></td>
          <td><%= daily_schedule.m5d2 %></td>
          <td><%= daily_schedule.m6t %></td>
          <td><%= daily_schedule.m6d1 %></td>
          <td><%= daily_schedule.m6d2 %></td>
          <td><%= daily_schedule.created_at %></td>
          <td><%= daily_schedule.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:daily_schedules, :edit, :id => daily_schedule.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:daily_schedules, :destroy, :id => daily_schedule.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
