<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

<channel>
  <item>
    <title>m1t</title>
    <description><%= @schedule.m1t %> <%= Date.today.to_s%> | <%= Time.now %></description>
  </item>
  <item>
    <title>m1d1</title>
    <description><%= @schedule.m1d1 %> </description>
  </item>
  <item>
    <title>m1d2</title>
    <description><%= @schedule.m1d2 %> </description>
  </item>
  <item>
    <title>m2t</title>
    <description><%= @schedule.m2t%> </description>
  </item>
  <item>
    <title>m2d1</title>
    <description><%= @schedule.m2d1 %> </description>
  </item>
  <item>
    <title>m2d2</title>
    <description><%= @schedule.m2d2 %> </description>
  </item>
  <item>
    <title>m3t</title>
    <description><%= @schedule.m3t%> </description>
  </item>
  <item>
    <title>m3d1</title>
    <description><%= @schedule.m3d1 %> </description>
  </item>
  <item>
    <title>m3d2</title>
    <description><%= @schedule.m3d2 %> </description>
  </item>
  <item>
    <title>m4t</title>
    <description><%= @schedule.m4t%> </description>
  </item>
  <item>
    <title>m4d1</title>
    <description><%= @schedule.m4d1 %> </description>
  </item>
  <item>
    <title>m4d2</title>
    <description><%= @schedule.m4d2 %> </description>
  </item>
  <item>
    <title>m5t</title>
    <description><%= @schedule.m5t%> </description>
  </item>
  <item>
    <title>m5d1</title>
    <description><%= @schedule.m5d1 %> </description>
  </item>
  <item>
    <title>m5d2</title>
    <description><%= @schedule.m5d2 %> </description>
  </item>
  <item>
    <title>m6t</title>
    <description><%= @schedule.m6t%> </description>
  </item>
  <item>
    <title>m6d1</title>
    <description><%= @schedule.m6d1 %> </description>
  </item>
  <item>
    <title>m6d2</title>
    <description><%= @schedule.m6d2 %> </description>
  </item>
</channel>

</rss>
